<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点图书共享平台</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<!-- 引用头部 -->
<% include layout-header %>		

<a class="section" href="/search"><div class="section"><img src="/images/search.jpg">图书检索</div></a>
<a class="section" href="/books"><div class="section"><img src="/images/books.jpg">所有图书</div></a>
<a class="section" href="/chat"><div class="section"><img src="/images/chat.jpg">交流大厅</div></a>
<a class="section" href="/myenjoy"><div class="section"><img src="/images/share.jpg">我的共享</div></a>
<a class="section" href="/myborrow"><div class="section"><img src="/images/myborrow.jpg">我的借阅</div></a>
<a class="section" href="/person"><div class="section"><img src="/images/person.jpg">个人资料</div></a>

<!-- 引用尾部 -->
<% include layout-footer %>