<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点图书管理系统</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div id="wrapper">
		<div id="banner">banner</div>
		<div id="container">
			<div id="header">head</div>
			<div id="main">main</div>
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>