<div id="wrapper">
	<div id="banner">
		<div class="container">
			<div class="banner-left">
				<ul>
					<li><a href="/index">首页</a></li>
					<li><a href="/search">图书检索</a></li>
					<li><a href="/books">所有图书</a></li>
					<li><a href="/chat">交流大厅</a></li>
				</ul>
			</div>
			<div class="banner-right">
				<a href="/login">登陆</a>
				<a href="/register">注册</a>
			</div>
		</div>
	</div>
	<div id="header">
		<div class="container">
			<img src="/images/logo.png">
			<h1>沸点工作室图书共享平台</h1>
		</div>
	</div>
	<div id="main">
		<div class="container">