		</div>		
	</div>
	<div id="footer">
		<div class="container footer">
			<div class="footer-top">
				<span><a href="http://www.52feidian.com/" target="blanket">沸点工作室</a></span>
				<span><a href="http://www.52feidian.com/contact/" target="blanket">联系我们</a></span>
				<span><a href="https://github.com/52FeidianStudio" target="blanket">沸点github</a></span>
			</div>
			<div class="footer-bottom">
				    Copyright © 2010-2016　华中农业大学 沸点工作室　All Rights Reserved 
			</div>
		</div>
	</div>
</div>
</body>
</html>