<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点图书共享平台</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<!-- 引用头部 -->
<% include layout-header %>		
	<div class="login">
		<div class="left">
			<img src="images/logo.png">
		</div>
		<div class="right">
			<h2>图书管理系统/<i>登陆</i></h2>
			<form>
				<span><font>用户名</font><input type="text" name="username" id="username" placeholder="请输入用户名"></span>
				<span><font>密码</font><input type="password" name="password" id="password" placeholder="请输入密码"></span>
				<span class="option"><input type="button" value="登陆" onclick="ajaxSubmit();"><input type="button" value="注册" onclick="register();"></span>
				<div id="tips"></div>
			</form>
		</div>
	</div>
<!-- 引用尾部 -->
<% include layout-footer %>
	<script type="text/javascript">
		var ajaxSubmit = function(){
			var obj = {
				username : document.getElementById("username").value,
				password : document.getElementById("password").value
			};
			var xhr = new XMLHttpRequest();
			xhr.open('post','login/do_login',true);
			xhr.onload = function(e){
	  			if(this.status == 200) {
	  				if(xhr.responseText == "fail") {
	  					document.getElementById('tips').innerHTML = "登录失败，请检查用户名密码是否正确";
	  				}else{
	  					var time = 3;
	  					var timer = setInterval(function(){
	  						document.getElementById('tips').innerHTML = '登录成功，' + time-- +'秒后跳转';
	  						if(time < 0) {
	  							clearInterval(timer);
					  			window.location.href = "index";
	  						}
	  					}, 1000);
	  				}
	  			}
	  		}
			xhr.send(JSON.stringify(obj));
		};
		var register = function() {
			window.location.href = "register";
		}
		// ajaxSubmit();
	</script>
</body>
</html>