<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
	<div id="wrapper">
		<div class="login">
			<div class="left">
				something
			</div>
			<div class="right">
				<form>
					name:<input type="text" name="username" id="username"><br>
					password:<input type="password" name="password" id="password"><br>
					<input type="button" value="login" onclick="ajaxSubmit();">
				</form>
			</div>
		</div>
	</div>
	<div id="tips"></div>
	<script type="text/javascript">
		var ajaxSubmit = function(){
			var obj = {
				username : document.getElementById("username").value,
				password : document.getElementById("password").value
			};
			var xhr = new XMLHttpRequest();
			xhr.open('post','login',true);
			xhr.onload = function(e){
	  			if(this.status == 200) {
	  				if(xhr.responseText == "fail") {
	  					document.getElementById('tips').innerHTML = "登录失败";
	  				}else{
	  					document.getElementById('tips').innerHTML = '登录成功，5秒后跳转，点此立即跳转 <a href="index">首页</a>';
	  					setTimeout(function(){
	  						window.location.href = "index";
	  					}, 5000)
	  				}
	  			}
	  		}
			xhr.send(JSON.stringify(obj));
		};
		// ajaxSubmit();
	</script>
</body>
</html>